body {
    display: flex;
    flex-direction: column;
}
.header {
    display: flex;
    flex-direction: column;
}
.h1 {
    display: flex;
    justify-content: space-between;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 10px;
}
img {
    width: 200px;
    height: auto;
}
.h2{
    display: flex;
    justify-content: space-between;
}
.c1 {
    display: flex;
    flex-direction: column;
    text-align: center;
}
.img {
    display:flex;
    flex-direction: row;
    align-items: baseline;
}
.footer {
    height: 100px;
    background-color: #1F2937;
    display: flex;
    align-items: center;
    justify-content: center;
}
