body {
    display: flex;
    flex-direction: column;
}
.header {
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    padding: 20px 50px;
}
h1 {
    font-size: 48px;
    font-weight: extra-bold;
    color: #F9FAF8;
}
p, li {
    font-size: 18px;
    color: #E5E7EB
}
.logo {
    font-size: 24px;
    color: #F9FAF8;
}
.h1 {
    display: flex;
    justify-content: space-between;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 10px;
}
img {
    width: 200px;
    height: auto;
}
.h2{
    display: flex;
    justify-content: space-between;
}
.c1 {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 20px 100px;
}
.img {
    display:flex;
    flex-direction: row;
    align-items: baseline;
    gap: 20px;
}
.footer {
    height: 100px;
    background-color: #1F2937;
    display: flex;
    align-items: center;
    justify-content: center;
}
.c2{
    padding-left: 100px;
    padding-right: 100px;
    background-color: #E5E7EB;
}
.i1, .i2, .i3, .i4 {
    display: flex;
    flex-direction: column;
    text-align: center;
    border-radius: 10px;
}
.sign {
    display: flex;
    justify-content: center;
    align-items: center;
}
.float {
    width: 600px;
    background-color: #3882F6;
    display: flex;
    justify-content: space-between;
}
.c21 {
    display: flex;
    flex-direction: column;
}
.src {
    align-self: flex-end;
}
.q {
    font-size: 36px;
    font-style: italic;
    font-weight: light;
    color: #1F2937
}
button {
    background-color: #3882F6;
    border-radius: 5px;
    border-color: #F9FAF8;
}
.bo{
    border-radius: 10px;
    border: 5px solid #3882F6;
}